:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-color: #757575;
  --black-color: #212121;
  --greyish-white: rgba(255, 255, 255, 0.6);
  --logo-black-part: #000000;
  --button-bkg: #f5f4fa;
}

body {
  color: var(--main-color);
  background-color: var(--white-color);
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: inherit;
}
body h2,
body h3 {
  color: var(--black-color);
}
button {
  cursor: pointer;
  background-color: var(--button-bkg);
  color: var(--black-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
}
a {
  color: inherit;
  text-decoration: inherit;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
}
.black-logo-part {
  color: var(--logo-black-part);
}
.white-logo-part {
  color: var(--white-color);
}

/* Navigation */
header ul {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
nav {
  color: var(--black-color);
}
.navigation a:focus,
.navigation a:hover {
  color: var(--accent-color);
}
.contact-info:hover,
.contact-info:focus {
  color: var(--accent-color);
}
/* Hero block */
.hero-block h1 {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-block button {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* footer */
address {
  color: var(--white-color);
}
address .contact-info {
  color: var(--greyish-white);
}
.portfolio-buttons button:hover,
.portfolio-buttons button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* our features */
.features h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.specialties h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
}
address ul {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;
}
.project-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
.project-list p {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;
}
